<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:flashMessages />

    <div class="dropdown ku-linklist">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{data.tx_ku_dropdown_btn}</a>
        <f:if condition="{listlinks}">
            <ul class="dropdown-menu">
                <f:for each="{listlinks}" as="link">
                    <f:format.raw>
                        <li><a class="dropdown-item" href="#">
                                <f:cObject typoscriptObjectPath="tt_content" data="{link.data}" /></a></li>
                    </f:format.raw>
                </f:for>
            </ul>
        </f:if>

        <f:debug>{_all}</f:debug>

        <f:if condition="{lib.ku_dropdown.pagecss !== ''}">
            <f:asset.css identifier="modalCSS" href="{f:cObject(typoscriptObjectPath: 'lib.ku_dropdown.pagecss')}" />
        </f:if>
        <f:if condition="{lib.ku_dropdown.pagejs !== ''}">
            <f:asset.script identifier="modalJs" src="{f:cObject(typoscriptObjectPath: 'lib.ku_dropdown.pagejs')}" />
        </f:if>
</f:section>

</html>